@import "Partials/variables";
@import "Partials/mixins";
@import "Partials/common";
@import "Partials/header";

section#products {
  padding: 40px 80px;
  background-color: #999;

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 350px;
      height: 200px;
      margin: 30px;
      background-color: #fff;
    }
  }
 
}
