.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

h2 {
  font-size: 40px;
  color: $headingColor;
  text-transform: uppercase;
}

a,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  color: #000;
}